{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ 'projects'|trans|capitalize }} - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content">
        {{ include("FlowerProjectBundle::appnav.html.twig", { 'app_project_overview': true }) }} 
        <div class="box">
            <div class="box-header">
                <div class="box-tools pull-right">
                    <a class="btn btn-link btn-xs" href={{ path('project_new') }}>
                        <i class="fa fa-plus"></i> {{ 'new %entity%'|trans({'%entity%': 'project'},'Project')|capitalize }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    {% for status in projects %}
                        <div class="col-md-3">
                            <h4>{{ status.entity.name|trans|capitalize }}</h4>
                            <ul class="list-unstyled sortable">
                                {% for project in status.projects %}
                                    <li class="card">
                                        <div class="box box-solid bg-postit {% if project.type == 'ongoing' %}bg-aqua{% endif %}">
                                            <div class="box-header">
                                                <a class="box-title" href="{{ path('project_show', {id: project.id}) }}">{{ project.name|capitalize }}</a>
                                            </div>
                                            <div class="box-body">


                                                <span class="label label-default">{{project.account}}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="box-footer">

            </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            //Esto va a futuro
        /*    $(".sortable").sortable({
                revert: true
            });
            $(".card").draggable({
                connectToSortable: ".sortable"
            });*/
        });
    </script>
{% endblock %}
