{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ 'projects'|trans|capitalize }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerProjectBundle::appnav.html.twig", { 'app_project_overview': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ 'kanban'|trans|title }}</h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="box-tools pull-right">
                    <a class="btn btn-link btn-xs" href={{ path('project_new') }}>
                        <i class="fa fa-plus"></i> {{ 'new %entity%'|trans({'%entity%': 'project'},'Project')|capitalize }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    {% for status in projects %}
                        <div class="col-md-3">
                            <h4>
                                {{ status.entity.name|trans|capitalize }}
                                ({{ status.projects|length }})
                            </h4>
                            <small>
                                {{ status.sum_hours }} horas en total.
                            </small>
                            <ul class="list-unstyled sortable">
                                {% for project in status.projects %}
                                    <li class="card">
                                        <div class="box box-solid bg-postit {% if project.type == 'ongoing' %}bg-aqua{% endif %}">
                                            <div class="box-header">
                                                <a class="box-title"
                                                   href="{{ path('project_show', {id: project.id}) }}">
                                                    {{ project.name|capitalize }}
                                                </a>
                                            </div>
                                            <div class="box-body project-members">
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        {% for member in project.members %}
                                                            {{ include('FlowerUserBundle:User:avatar_light.html.twig',{user:member.user}) }}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="col-sm-2">
                                                        {{ project.dailyWorkingHours }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="box-footer">

            </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            //Esto va a futuro
            /*    $(".sortable").sortable({
             revert: true
             });
             $(".card").draggable({
             connectToSortable: ".sortable"
             });*/
        });
    </script>
{% endblock %}
