{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Project'}, 'Project') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerProjectBundle::appnav.html.twig", { 'app_project_list': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ 'new %entity%'|trans({'%entity%': 'project'},'Project')|capitalize }}</h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ '%entity% creation'|trans({'%entity%': 'Project'}, 'Project') }}</h3>
            </div>
            <div class="box-body">
                {{ form_start(form, {action: path('project_create')}) }}
                    {{ form_widget(form) }}
                    <p>
                        <button class="btn btn-default" type="submit">{{ 'Create'|trans({}, 'Project') }}</button>
                    </p>
                {{ form_end(form) }}
            </div>
            <div class="box-footer">

        <div class="btn-group record_actions">


        </div>

            </div>
        </div>
    </section>
{% endblock %}
