{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'DocPage'}, 'DocPage') }} - {{ parent() }}{% endblock %}
    {% block app_menu %}
        {{ include("FlowerProjectBundle::appnav.html.twig", {'project' :project, 'app_doc':true}) }} 
    {% endblock %}
{% block body %}
    <a href="{{ path('project_show',{id:project.id}) }}">
        <section class="content-header">
                <h1>{{ project.name|title }}</h1>
        </section>
    </a>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ '%entity% edit'|trans({'%entity%': 'DocPage'}, 'DocPage') }}</h3>
            </div>
            <div class="box-body">

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <p>
                    <button class="btn btn-default" type="submit">{{ 'Save'|trans({}, 'DocPage') }}</button>
                </p>
                {{ form_end(edit_form) }}
            </div>
            <div class="box-footer">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}

                <div class="btn-group record_actions">

                    <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'DocPage') }}</button>

                </div>

                <input name="modal" type="hidden" value="0">
                {{ form_end(delete_form) }}

                <div id="delete_confirm" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3>{{ 'Confirm delete'|trans({}, 'DocPage') }}</h3>
                            </div>
                            <div class="modal-body">
                                <p>{{ 'You are about to delete an item'|trans({}, 'DocPage') }}, {{ 'this procedure is irreversible'|trans({}, 'DocPage') }}.</p>
                                <p>{{ 'Do you want to proceed?'|trans({}, 'DocPage') }}</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger">{{ 'Yes'|trans({}, 'DocPage') }}</button>
                                <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'DocPage') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}